@-ms-viewport
{
	width: 100%;
}

@-webkit-viewport
{
	width: 100%;
}

@-o-viewport
{
	width: 100%;
}

@-moz-viewport
{
	width: 100%;
}

@viewport
{
	width: 100%;
}

html
{
	background-color: #558413;
}

/* create lead form */
.create_form {
	width:90%;
	min-width:340px;
	margin-left:auto;
	margin-right:auto;
}

select {
	-webkit-box-shadow: inset #c9c9c9 5px 5px 7px; -moz-box-shadow: inset #c9c9c9 4px 5px 7px; box-shadow: inset #c9c9c9 4px 5px 7px; border:1px solid #b9b9b9;
}

.form_element {
	-webkit-box-shadow: inset #ddd 5px 5px 7px; -moz-box-shadow: inset #ddd 4px 5px 7px; box-shadow: inset #ddd 4px 5px 7px;
	border:1px solid #333;
}

.form_title {
	font-size:18px;
	font-weight:bold;
	padding:10px 0px 2px 5%;
}

.lookup_title {
	font-size:18px;
	font-weight:bold;
	padding:10px 0px 15px 5%;
}

#page
{
	z-index: 1;
	min-width:380px;
	width:100%;
	background: -webkit-gradient(linear, center top, center bottom, from(#96CE49),color-stop(100%, #558413));
	background: -webkit-linear-gradient(top,#96CE49 ,#558413 100%);
	background: -moz-linear-gradient(top,#96CE49 ,#558413 100%);
	background: -ms-linear-gradient(top,#96CE49 ,#558413 100%);
	background: -o-linear-gradient(top,#96CE49 ,#558413 100%);
	background: linear-gradient(to bottom,#96CE49 ,#558413 100%);
	-pie-background: linear-gradient(top,#96CE49 ,#558413 100%);
	border-style: none;
	border-color: #000000;
	
}

#container_content {
	min-width:380px;
	width:100%;
	margin-left:auto;
	margin-right:auto;
}

#page_position_content
{
	margin-top: -59px;
	background-image:url(../images/mm_symbol_back.png); background-repeat:repeat-y; background-position:center;
	
}

.grey_back {
	background-color:#e7e4e4; padding:10px 0px 10px 0px; background-image:url(../images/mm_symbol_back.png); background-repeat:repeat-y; background-position:center;
}

#u91
{
	z-index: 3;
	width: 100%;
	position: relative;
	background: #FFFFFF url("../images/mm_header_sect_one_back.png") repeat-x center center;
}

#u86
{
	z-index: 6;
	width: 100%;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
}

#u103
{
	z-index: 2;
	width: 100%;
	padding-bottom: 14px;
	top: -3px;
	margin-bottom: -3px;
	position: relative;
	background: #FFFFFF url("../images/sec_two_back.png") repeat-x center center;
}

#u143
{
	z-index: 19;
	width: 100%;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#u110
{
	z-index: 8;
	width: 100%;
	padding-bottom: 4px;
	top: -3px;
	margin-bottom: -3px;
	position: relative;
	background: #FFFFFF url("../images/link_sec_back.png") repeat-x center center;
	text-align:center;
}


#u117
{
	z-index: 9;
	width: 74px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 20px;
}

#u132
{
	z-index: 15;
	width: 11px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 121px;
}

#u122
{
	z-index: 11;
	width: 68px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 159px;
}

#u140
{
	z-index: 17;
	width: 11px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 257px;
}

#u127
{
	z-index: 13;
	width: 60px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 303px;
}

#u80
{
	z-index: 4;
	width: 100%;
	margin-left: 9px;
	margin-top: 81px;
	position: relative;
}

#u86_img,#u143_img,#u117_img,#u132_img,#u122_img,#u140_img,#u127_img,#u80_img
{
	vertical-align: top;
}

body
{
	padding-top: 55px;
}

#page .verticalspacer
{
	clear: both;
}

